<section class="homepage">
  <app-banner
    search="assets/imagens/banner-homepage.png"
    alt="Banner da aplicação Jornada"
  ></app-banner>
  <app-container>
    <app-form-busca></app-form-busca>

    <div class="card-wrapper">
      <app-card-busca  *ngFor="let item of promocoes" [promocao]="item" />
    </div>

    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-depoimento  *ngFor="let item of depoimentos" [depoimento]="item" />
    </div>
  </app-container>
  <app-banner
    search="assets/imagens/banner-homepage-rodape.png"
    alt="Banner da aplicação Jornada"
  ></app-banner>
</section>
